<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <h2>Head</h2>
    </header>
    <main>
        <nav id="filter-nav-bar">
            <ul id="filter-items">
                <li>Name</li>
                <li>Date</li>
                <li>Price</li>
                <li>Category</li>
            </ul>
        </nav>
        <div id="search-bar">
            <input id="query" type="search" placeholder="Search...">
        </div>
        <div id="table-content">
            <table>
                <!--<caption>Liste des membres</caption>-->
                <thead id="main-table-head" data-url="{% url 'index' %}">
                    <tr>
                        <th class="table-header-link" data-header-col="id">id</th>
                        <th class="table-header-link" data-header-col="Age">Age</th>
                        <th class="table-header-link" data-header-col="Sex">Sex</th>
                        <th class="table-header-link" data-header-col="BP">BP</th>
                        <th class="table-header-link" data-header-col="Cholesterol">Cholesterol</th>
                        <th class="table-header-link" data-header-col="Na_to_K">Na_to_K</th>
                        <th class="table-header-link" data-header-col="Drug">Drug</th>
                    </tr>

                </thead>
                <tbody>
                    {%  for obj in query_result %}
                        <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.Age }}</td>
                            <td>{{ obj.Sex }}</td>
                            <td>{{ obj.BP }}</td>
                            <td>{{ obj.Cholesterol }}</td>
                            <td>{{ obj.Na_to_K }}</td>
                            <td>{{ obj.Drug }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </main>
    <footer>
       Footer
    </footer>
</body>
</html>