<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
    <!--Safely outputs a Python object sent by django as JSON, wrapped in a <script> tag,
    ready for use with JavaScript; with json_script.-->
    {{ query_result|json_script:"query_result" }}
    <!-- We then call JS function to render the table at the loading of the page-->
    <!-- Index rendered url -->
    <input id="index-page" name="data-url" type="hidden" value="{% url 'index' %}">
</head>
<body>
    <header>
        <h2>Head</h2>
    </header>
    <main>
        <nav id="filter-nav-bar">
            <ul id="filter-items">
                <li>Name</li>
                <li>Date</li>
                <li>Price</li>
                <li>Category</li>
            </ul>
        </nav>
        <div id="search-bar">
            <input id="query" type="search" placeholder="Search...">
        </div>
        <div id="table-content">

        </div>
    </main>
    <footer>
       Footer
    </footer>
</body>
</html>